*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(108, 143, 247);
}
p, label{
  color: white;
}
a{
  padding: 20px;
  background-color: black;
  margin: 0 auto;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
.homeContainer{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* HEADER */
.header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(77, 109, 205);
  padding: 20px;
}
.header>div{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerImg{
  border-radius: 200px;
  height: 90%;
}
.headerUl{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

/* QR */
.QRContainer{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.QRContainer>div{
  width: 50%;
  height: 30dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.QRImage{
  width: 20dvh;
  border-radius: 10px;
}

/* Weather */
.weatherContainer{
  display: flex;
  padding: 20px;
}
.weatherContainer>div{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: rgb(27, 31, 37);
  align-items: center;
  justify-content: center;
}
.weatherDiv{
  width: 20dvh;
  height: 25dvh;
  background-color: rgb(223, 238, 252);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Admin */

.adminForm{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
}
.adminForm>*{
  width: 50%;
  border: none;
  border-radius: 20px;
  padding: 5px;
}
.adminForm>input{
  background-color: rgb(223, 238, 252);
  border-bottom: solid rgb(47, 47, 47) .5px;
}
.adminForm :nth-last-child(1){
  width: 20%;
}
#reserved{
  width: 20px;
  display: inline;
}
#reservedLable{
  display: inline;
}

/* Meeting */

.timeChoices{
  background-color: rgb(12, 13, 19);
  border-radius: 5px;
  width: 30%;
  margin: 2px;
  color: rgb(23, 28, 41);
  padding: 5px;
  color: rgb(239, 242, 246);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.timeChoiceDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.meetingContentDiv{
  display: none;
}

.descriptionDiv, .chooseTitle{
  background-color: rgb(48, 53, 56);
  height: 100%;

}
.chooseTitle{
  background-color: rgb(25, 28, 29);
}

/* available */

.availableDiv{
  text-align: center;
  color: white;
}
.available{
  padding: 2px;
  border-bottom: solid rgb(0, 0, 0) 2px;
  border-radius: 20px;
}
/* made meeting */

.madeMeetingDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Extras */
.hidden{
  display: none;
}

.red{
  background-color: red;
}
.green{
  background-color: green;
}