*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(108, 143, 247);
}
p, label{
  color: white;
}
.homeContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* HEADER */
.header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(77, 109, 205);
  padding: 20px;
}
.header>div{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerImg{
  border-radius: 200px;
  width: 200px;
}
.headerUl{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

/* QR */
.QRContainer{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.QRContainer>div{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.QRImage{
  width: 195px;
  border-radius: 10px;
}

/* Weather */
.weatherContainer{
  display: flex;
  padding: 20px;
}
.weatherContainer>div{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: rgb(27, 31, 37);
  align-items: center;
  justify-content: center;
}
.weatherDiv{
  width: 200px;
  height: 200px;
  background-color: rgb(223, 238, 252);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Admin */

.adminForm{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
}
.adminForm>*{
  width: 50%;
  border: none;
  border-radius: 20px;
  padding: 5px;
}
.adminForm>input{
  background-color: rgb(223, 238, 252);
  border-bottom: solid rgb(47, 47, 47) .5px;
}
.adminForm :nth-last-child(1){
  width: 20%;
}
#reserved{
  width: 20px;
  display: inline;
}
#reservedLable{
  display: inline;
}